openapi: 3.0.3
info:
  title: Paytronix Online Ordering Check Orders API
  version: '1.0'
  description: The Paytronix Online Ordering API (Open Dining) powers ordering experiences across in-store, online web, online app, call-in, call-center, and drive-through order methods. It exposes restaurant/location discovery, menu retrieval, fuzzy and geospatial search, and order creation, retrieval, and submission, connecting ordering systems to the broader Paytronix loyalty and guest engagement platform. This specification was generated from the public Open Dining documentation at http://docs.opendining.net and the Online Ordering Resource Center at https://support.opendining.net.
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  x-generated-from: documentation
  x-source-url: http://docs.opendining.net/api/
  x-last-validated: '2026-06-03'
servers:
- url: https://api.opendining.net
  description: Open Dining Online Ordering API base URL.
tags:
- name: Orders
  description: Order creation, retrieval, and submission.
paths:
  /orders:
    post:
      operationId: createOrder
      summary: Create Order
      description: Create a new order for a restaurant, including line items, the customer, an optional tip, and an optional delivery address.
      tags:
      - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInput'
            examples:
              CreateOrderRequestExample:
                summary: Default createOrder request
                x-microcks-default: true
                value:
                  restaurantId: 4b96f1bafc9f100ca79231ef
                  items:
                  - menuItemId: 4b96f1bafc9f100ca79231ef
                    name: Chicken Burrito
                    quantity: 2
                    price: 9.5
                    options:
                    - name: string
                      price: 0
                  customer:
                    firstName: Jane
                    lastName: Doe
                    email: jane@example.com
                    phone: '+16175551234'
                  orderMethod: online_app
                  tip: 3.0
                  deliveryAddress:
                    address1: 456 Elm St
                    address2: string
                    city: Boston
                    state: MA
                    postalCode: '02110'
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                CreateOrder201Example:
                  summary: Default createOrder 201 response
                  x-microcks-default: true
                  value:
                    id: 5f1c2d3e4a5b6c7d8e9f0a1b
                    restaurantId: 4b96f1bafc9f100ca79231ef
                    items:
                    - menuItemId: 4b96f1bafc9f100ca79231ef
                      name: Chicken Burrito
                      quantity: 2
                      price: 9.5
                      options:
                      - name: string
                        price: 0
                    customer:
                      firstName: Jane
                      lastName: Doe
                      email: jane@example.com
                      phone: '+16175551234'
                    orderMethod: online_app
                    tip: 3.0
                    total: 22.0
                    status: submitted
                    deliveryAddress:
                      address1: 456 Elm St
                      address2: string
                      city: Boston
                      state: MA
                      postalCode: '02110'
                    createdAt: '2026-06-03T12:00:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: Get Order
      description: Retrieve the details and current status of a given order by its identifier.
      tags:
      - Orders
      parameters:
      - name: orderId
        in: path
        required: true
        description: Order identifier.
        schema:
          type: string
      responses:
        '200':
          description: Order object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                GetOrder200Example:
                  summary: Default getOrder 200 response
                  x-microcks-default: true
                  value:
                    id: 5f1c2d3e4a5b6c7d8e9f0a1b
                    restaurantId: 4b96f1bafc9f100ca79231ef
                    items:
                    - menuItemId: 4b96f1bafc9f100ca79231ef
                      name: Chicken Burrito
                      quantity: 2
                      price: 9.5
                      options:
                      - name: string
                        price: 0
                    customer:
                      firstName: Jane
                      lastName: Doe
                      email: jane@example.com
                      phone: '+16175551234'
                    orderMethod: online_app
                    tip: 3.0
                    total: 22.0
                    status: submitted
                    deliveryAddress:
                      address1: 456 Elm St
                      address2: string
                      city: Boston
                      state: MA
                      postalCode: '02110'
                    createdAt: '2026-06-03T12:00:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateOrder
      summary: Update Order
      description: Update an existing order, for example to add items or submit it for payment.
      tags:
      - Orders
      parameters:
      - name: orderId
        in: path
        required: true
        description: Order identifier.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInput'
            examples:
              UpdateOrderRequestExample:
                summary: Default updateOrder request
                x-microcks-default: true
                value:
                  restaurantId: 4b96f1bafc9f100ca79231ef
                  items:
                  - menuItemId: 4b96f1bafc9f100ca79231ef
                    name: Chicken Burrito
                    quantity: 2
                    price: 9.5
                    options:
                    - name: string
                      price: 0
                  customer:
                    firstName: Jane
                    lastName: Doe
                    email: jane@example.com
                    phone: '+16175551234'
                  orderMethod: online_app
                  tip: 3.0
                  deliveryAddress:
                    address1: 456 Elm St
                    address2: string
                    city: Boston
                    state: MA
                    postalCode: '02110'
      responses:
        '200':
          description: Updated order object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
              examples:
                UpdateOrder200Example:
                  summary: Default updateOrder 200 response
                  x-microcks-default: true
                  value:
                    id: 5f1c2d3e4a5b6c7d8e9f0a1b
                    restaurantId: 4b96f1bafc9f100ca79231ef
                    items:
                    - menuItemId: 4b96f1bafc9f100ca79231ef
                      name: Chicken Burrito
                      quantity: 2
                      price: 9.5
                      options:
                      - name: string
                        price: 0
                    customer:
                      firstName: Jane
                      lastName: Doe
                      email: jane@example.com
                      phone: '+16175551234'
                    orderMethod: online_app
                    tip: 3.0
                    total: 22.0
                    status: submitted
                    deliveryAddress:
                      address1: 456 Elm St
                      address2: string
                      city: Boston
                      state: MA
                      postalCode: '02110'
                    createdAt: '2026-06-03T12:00:00Z'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DeliveryAddress:
      type: object
      properties:
        address1:
          type: string
          example: 456 Elm St
        address2:
          type: string
        city:
          type: string
          example: Boston
        state:
          type: string
          example: MA
        postalCode:
          type: string
          example: '02110'
    Customer:
      type: object
      properties:
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Doe
        email:
          type: string
          example: jane@example.com
        phone:
          type: string
          example: '+16175551234'
    Order:
      type: object
      properties:
        id:
          type: string
          example: 5f1c2d3e4a5b6c7d8e9f0a1b
        restaurantId:
          type: string
          example: 4b96f1bafc9f100ca79231ef
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        customer:
          $ref: '#/components/schemas/Customer'
        orderMethod:
          type: string
          example: online_app
        tip:
          type: number
          example: 3.0
        total:
          type: number
          example: 22.0
        status:
          type: string
          enum:
          - created
          - submitted
          - paid
          - in_progress
          - completed
          - cancelled
          example: submitted
        deliveryAddress:
          $ref: '#/components/schemas/DeliveryAddress'
        createdAt:
          type: string
          format: date-time
    OrderInput:
      type: object
      required:
      - restaurantId
      - items
      - customer
      properties:
        restaurantId:
          type: string
          example: 4b96f1bafc9f100ca79231ef
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        customer:
          $ref: '#/components/schemas/Customer'
        orderMethod:
          type: string
          enum:
          - in_store
          - online_web
          - online_app
          - call_in
          - call_center
          - drive_through
          example: online_app
        tip:
          type: number
          example: 3.0
        deliveryAddress:
          $ref: '#/components/schemas/DeliveryAddress'
    OrderItem:
      type: object
      properties:
        menuItemId:
          type: string
          example: 4b96f1bafc9f100ca79231ef
        name:
          type: string
          example: Chicken Burrito
        quantity:
          type: integer
          example: 2
        price:
          type: number
          example: 9.5
        options:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              price:
                type: number
